<%= form_with(model: status, local: true) do |form| %>
  <% if status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if status.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', status, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if status.persisted? %>
      <%= link_to "Cancel", status, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", statuses_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
